API_ID=25756754
API_HASH=69520e9764037afbf74f216ac05447e8
BOT_TOKEN=7871600258:AAGWPv3A7cKEWa4eovRxGCS5yae_NQ5jwI4
LOGGER_ID=https://t.me/learning_bots
MONGO_DB_URI=mongodb+srv://Siddharth:Siddharth@cluster0.8jska3p.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7589119075
STRING_SESSION=BQGJBFIAJAh28XCmScAnYqZzYSHcKetg4owFKQxF8zDUEXmumZtemie-YMOhhoqO-ur5rQ8lKVQGYH6drSPX1Lk9V2f0xn5z3GX_CddkpYF2Y4VRL517lWCLv1LZCTJ7go9m1hUxaXMXNzZFxFqNVhZxE0e8cUWu1pixKeiPrIrSU6GfqdCRfGEGyZbtm4WXUw9V2cFyktFqGoJe6IkWij-TjWTfUHMuJkZ70wLFoqmqD0tnMyPwZnJbuDfmsZCZzHAd_UUyPgc1N8zR1O6m7qKAMvIul8HDHO59WvxMWg_lLm0r04itJKXtCgbpjBcSK7pfMC2x0bl6nlmOjOUr3AWSIIeMOAAAAAHEWMRjAA
